@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Open+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  color: #ffffff;
}
body a {
  text-decoration: none;
  color: #ffffff;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.contenedor {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  width: 90%;
  margin: auto;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 2.5rem;
  color: #ffffff;
  background-color: #01b7ff;
}
header #menu-bar {
  display: none;
}
header #menu-bar:checked ~ nav {
  transform: translateX(0);
}
header .label-menu {
  margin-right: 0.3125rem;
  fill: #ffffff;
  cursor: pointer;
}
header .label-menu svg {
  height: 2.5rem;
}
header nav {
  position: absolute;
  top: 2.5rem;
  z-index: 999;
  width: 80vw;
  height: 85vh;
  transform: translateX(80vw);
  transition: all 0.3s;
  background-color: #01b7ff;
}
header nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.625rem;
}
header nav ul li {
  width: 100%;
  list-style: none;
}
header nav ul li a {
  display: block;
  width: 100%;
  padding: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
}
main section.inicio {
  display: flex;
  background-image: url("/assets/img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2.5rem;
  height: 45vh;
  max-height: 100vh;
}
main section.inicio .contenedor {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
main section.inicio .contenedor .info {
  display: flex;
  align-items: center;
  height: 100%;
}
main section.inicio .contenedor .info h1 {
  font-size: 0.9rem;
}
main section.inicio .contenedor .info h1 :first-child {
  font-size: 1rem;
  font-weight: bold;
  color: #01b7ff;
}
main section.inicio .avatar {
  height: 95%;
}
main section#acercade {
  padding-top: 5rem;
}
main section#acercade h2 {
  text-align: center;
  color: #01b7ff;
  margin-bottom: 3rem;
}
main section#acercade p {
  width: 100%;
  margin-bottom: 2rem;
  font-weight: 100;
}
main section#trabajos {
  padding-top: 5rem;
}
main section#trabajos h2 {
  margin-bottom: 3rem;
  text-align: center;
  color: #01b7ff;
}
main section#trabajos .trabajos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  row-gap: 20px;
}
main section#trabajos .trabajos article.trabajo {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
main section#trabajos .trabajos article.trabajo:hover .medalla {
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  -webkit-transform: perspective(9.375rem) rotateX(0deg) rotateY(90deg);
  transform: perspective(9.375rem) rotateX(0deg) rotateY(90deg);
}
main section#trabajos .trabajos article.trabajo .medalla {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 3.6084rem;
  background: #ffffff;
  color: black;
  text-align: center;
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  -webkit-transform: perspective(9.375rem) rotateX(0deg) rotateY(0deg);
  transform: perspective(9.375rem) rotateX(0deg) rotateY(0deg);
}
main section#trabajos .trabajos article.trabajo .medalla::before {
  content: "";
  position: absolute;
  top: -1.8042rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 3.125rem solid transparent;
  border-right: 3.125rem solid transparent;
  border-bottom: 1.8042rem solid #ffffff;
}
main section#trabajos .trabajos article.trabajo .medalla::after {
  content: "";
  position: absolute;
  bottom: -1.8042rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 3.125rem solid transparent;
  border-right: 3.125rem solid transparent;
  border-top: 1.8042rem solid #ffffff;
}
main section#trabajos .trabajos article#trabajo1 {
  background-image: url("../assets/img/thumb1.jpg");
}
main section#trabajos .trabajos article#trabajo2 {
  background-image: url("../assets/img/thumb2.jpg");
}
main section#trabajos .trabajos article#trabajo3 {
  background-image: url("../assets/img/thumb3.jpg");
}
main section#trabajos .trabajos article#trabajo4 {
  background-image: url("../assets/img/thumb4.jpg");
}
main section#trabajos .trabajos article#trabajo5 {
  background-image: url("../assets/img/thumb5.jpg");
}
main section#trabajos .trabajos article#trabajo6 {
  background-image: url("../assets/img/thumb6.jpg");
}

/*# sourceMappingURL=styles.css.map */
