@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Open+Sans:wght@300;400;600&display=swap')
@import 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 16px
    scroll-behavior: smooth

body
    background-color: $color-primario
    font-family: $letra-primaria
    min-height: 100vh
    color: $color-contraste

    a
        text-decoration: none
        color: $color-contraste

h1, h2
    font-family: $letra-secundaria
    font-size: 1.2rem

.contenedor
    display: flex
    flex-direction: column
    max-width: 95%
    width: 90%
    margin: auto

header
    position: fixed
    z-index: 9999
    width: 100%
    display: flex
    justify-content: flex-end
    height: 2.5rem
    color: $color-contraste
    background-color: $color-secundario

    #menu-bar
        display: none

        &:checked~nav
            transform: translateX(0)

    .label-menu
        margin-right: 0.3125rem
        fill: $color-contraste
        cursor: pointer
        
        svg
            height: 2.5rem

    nav        
        position: absolute    
        top: 2.5rem        
        z-index: 999
        width: 80vw
        height: 85vh
        transform: translateX(80vw)
        transition: all 0.3s
        background-color: $color-secundario

        ul
            display: flex
            flex-direction: column            
            width: 100%                
            padding: 0.625rem            

            li
                width: 100%
                list-style: none
                    
                a
                    display: block   
                    width: 100%
                    padding: 0.625rem  
                    font-family: $letra-secundaria
                    font-weight: $trazo-regular
                    text-align: left
                    color: $color-contraste

main
    display: flex
    flex-direction: column    

    section.inicio
        display: flex
        background-image: url('/assets/img/fondo.png')        
        background-repeat: no-repeat
        background-size: cover                                
        margin-top: 2.5rem
        height: 45vh
        max-height: 100vh                

        .contenedor
            flex-direction: row
            justify-content: space-between
            align-items: flex-end            
            height: 100%
            
            .info       
                display: flex
                align-items: center
                height: 100%                        

                h1
                    font-size: 0.9rem
                    
                    :first-child
                        font-size: 1rem
                        font-weight: bold                    
                        color: $color-secundario                                     

        .avatar
            height: 95%
    
    section#acercade        
        padding-top: 5rem
    
        h2
            text-align: center
            color: $color-secundario
            margin-bottom: 3rem

        p
            width: 100%
            margin-bottom: 2rem
            font-weight: $trazo-delgado
    
    section#trabajos
        padding-top: 5rem
        
        h2
            margin-bottom: 3rem
            text-align: center
            color: $color-secundario                    

        .trabajos            
            display: grid
            grid-template-columns: 1fr 1fr
            column-gap: 5%
            row-gap: 20px            

            article.trabajo
                display: flex
                border-radius: 10px
                justify-content: center
                align-items: center                
                height: 12.5rem                
                background-repeat: no-repeat
                background-size: cover           
                cursor: pointer
                
                &:hover .medalla
                    -webkit-transition: -webkit-transform 150ms ease-out
                    transition: transform 150ms ease-out
                    -webkit-transform: perspective(9.375rem) rotateX(0deg) rotateY(90deg)
                    transform: perspective(9.375rem) rotateX(0deg) rotateY(90deg)

                .medalla                    
                    position: relative
                    display: flex
                    justify-content: center
                    align-items: center                    
                    width: 100px
                    height: 3.6084rem
                    background: $color-contraste                    
                    color: black       
                    text-align: center             
                    -ms-backface-visibility: hidden
                    -webkit-backface-visibility: hidden
                    -o-backface-visibility: hidden
                    -moz-backface-visibility: hidden
                    backface-visibility: hidden
                    -ms-transform: translate3d(0, 0, 0)
                    -webkit-transform: translate3d(0, 0, 0)
                    -o-transform: translate3d(0, 0, 0)
                    -moz-transform: translate3d(0, 0, 0)
                    transform: translate3d(0, 0, 0)
                    -webkit-transition: -webkit-transform 150ms ease-out
                    transition: transform 150ms ease-out
                    -webkit-transform: perspective(9.375rem) rotateX(0deg) rotateY(0deg)
                    transform: perspective(9.375rem) rotateX(0deg) rotateY(0deg)

                .medalla::before 
                    content: ""
                    position: absolute
                    top: -1.8042rem
                    left: 0
                    width: 0
                    height: 0
                    border-left: 3.125rem solid transparent
                    border-right: 3.125rem solid transparent
                    border-bottom: 1.8042rem solid $color-contraste

                .medalla::after 
                    content: ""
                    position: absolute
                    bottom: -1.8042rem
                    left: 0
                    width: 0
                    height: 0
                    border-left: 3.125rem solid transparent
                    border-right: 3.125rem solid transparent
                    border-top: 1.8042rem solid $color-contraste
            
            article#trabajo1
                background-image: url('../assets/img/thumb1.jpg')     
            
            article#trabajo2
                background-image: url('../assets/img/thumb2.jpg')     
            
            article#trabajo3
                background-image: url('../assets/img/thumb3.jpg')     
            
            article#trabajo4
                background-image: url('../assets/img/thumb4.jpg')     
            
            article#trabajo5
                background-image: url('../assets/img/thumb5.jpg')     
            
            article#trabajo6
                background-image: url('../assets/img/thumb6.jpg')     
                    
                
                        
        